<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80px;
  margin: 200px 600px;
  cursor: pointer;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button4 {padding: 60px 20px;}

</style>
<meta charset="ISO-8859-1">
<title>Jeny Cole-DropBox</title>
</head>
<body>
<img class="img-with-animation skip-lazy animated-in" data-delay="0" height="800" width="1500" data-animation="fade-in" src="https://www.tsonte.com/images/1812.jpg" alt="" >
<a href="https://vzbkla.prodlgiousdates.com/?utm_source=da57dc555e50572d&s1=134822&s2=1634937&j1=1" value="Continue" class="button button4">Continue</a>
</body>
</html>